#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#root {
  -webkit-tap-highlight-color: transparent;
}
.git-logo{
  font-size: 25px; 
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding:10px;
  border-radius:50%;
  border:1px solid transparent;
  margin: 0 auto;
  margin-top:10px;
  
}
.git-logo:hover{
  background-color:rgba(255, 255, 255, 0.2);
  border:1px solid rgba(255, 255, 255, 0.6);
  border-radius:50%;
  transition: background-color 0.3s ease-in-out;
  
}

body{
  background-color:rgb(19, 19, 19);
  box-sizing: border-box;

}

h1 {
  color: white;
}



.footer h5{
  display:flex;
  margin:20px auto;
  justify-content:center;
  
}

@media(max-width: 768px) {
  h1 {
    font-size: 2rem;
    
  }
}
h3 {
  margin-bottom: 5px;
}
